*{
	padding: 0px;
	margin: 0px;
}
.container{
	flex-wrap: wrap;
	display: flex;
}
.frist{

	border: 1px solid gray;
	padding: 50px;
	margin: 10px;
	width: 100px;
	border-radius: 10px;
	
}
.second{
	border: 1px solid gray;
	padding:100px;
	margin: 10px;
	width: 1200px;
	border-radius: 10px;
	background-color: #99ffeb;
}
img{

	padding: 20px;
	width: 100px;
	height: 100px;
	border-radius: 30px;
	margin: -20px;
}
p{
	text-align: center;
}

.second input{
	border: 1px solid white;
	width: 200px;
	padding: 5px;
	border-radius: 4px;
	display: flex;	
}

